/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Nav */

.nav {
    max-width: 100%;
    width: 27em;
    position: relative;
    
    cursor: default;
    opacity: 0.95;
    text-align: center;
    
    ul {
        display: inline-block;
        
        li {
            display: inline;
            padding: 2em;
            margin: 0.5em;

            background-color: white;
        }
    }
}