/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Pallete */

/// Cool
$bg: #565676;
$fg-muted: #414770;
$fg-bright:   rgb(23, 167, 155);

// /// Flowery 
// $bg: rgb(204, 120, 120);
// $fg-muted: rgba(255, 165, 150, 0.5);
// $fg-bright:  rgba(0, 228, 255, 0.35);
// ///