/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Main */

.main {
    max-width: 100%;
    width: 27em;
    position: relative;
    
    cursor: default;
    opacity: 0.95;
    text-align: center;

    &--unopened {
        // display: none;
    }
    
    &__content {
        // border-radius: 5px;

        &--opened {

        }
    }
}