/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Main */

.main {
    max-width: 100%;
    width: 27em;
    height: 0%;
    position: relative;
    
    cursor: default;
    opacity: 0.95;
    text-align: center;

    &--unopened {
        height: 100&;
    }
    
    &__content {
        // margin: 0.5em;

        background-color: white;
        // border-radius: 5px;

        &--opened {

        }
    }
}