/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Main */

.main {
    max-width: 100%;
    width: 27em;
    position: relative;
    
    cursor: default;
    height: 100%;
    text-align: center;

    transition: 2s linear;

    &--unopened {
        height: 0;
    }
    
    &__content {
        // border-radius: 5px;

        &--opened {

        }
    }
}