/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Nav */

.nav {
    max-width: 100%;
    width: 27em;
    position: relative;
    display: block;
    
    cursor: default;
    text-align: center;



    &__header {
        padding: 3em;
        position: relative;
        
        background-color: #fff;
        // border-radius: 5px;
        z-index: -5;

        &:before {
            content: '';
            width: 100%;
            height: 30%;
            position: absolute;
            left: 0;
            top: 0;
    
            background-image: linear-gradient(60deg, $fg-muted 5%, $fg-bright);
            // border-radius: 5px 5px 0 0;
        }
    }

    &__profile {
        position: relative;
        display: block;
        margin-bottom: 1.5em;
        z-index: 1;
    }

    &__pic {
        display: block;
        margin: 0 auto;
        width: 50%;

        border-radius: 50%;
        box-shadow: 0 0 0 1em #fff;
    }

    &__links {
        display: table;
        table-layout: fixed;
        width: 100%;
        margin-bottom: 2em;
    }

    &__link {
        padding: 2em;
        display: table-cell;

        background-color: white;
        border-bottom: solid white 5px;
        cursor: pointer;
        
        &:hover {
            border-bottom: solid $fg-bright 5px;
        }

        &:not(:last-child) {
            border-right: solid rgba(0, 0, 0, 0.2) 1px;
        }
    }
}