/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Basic */

// MSIE: Required for IEMobile.
@-ms-viewport {
	width: device-width;
}

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

// MSIE: Prevents scrollbar from overlapping content.
body {
	-ms-overflow-style: scrollbar;
}

body {
	height: 100%;

	background: linear-gradient(-45deg, $bg-1, $bg-2, $bg-3);
	background-size: 300%;
	background-attachment: fixed;
	animation: movingGradient 30s ease infinite;

	overflow-y: scroll;

	// Stops initial animations until page loads.
	&.is-preload {
		*, *:before, *:after {
			animation: none !important;
			transition: none !important;
		}
	}
}

@keyframes movingGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}