/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Basic */

// MSIE: Required for IEMobile.
@-ms-viewport {
	width: device-width;
}

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

// MSIE: Prevents scrollbar from overlapping content.
body {
	-ms-overflow-style: scrollbar;
}

body {
	height: 100%;

	background-color: rgb(204, 120, 120);

	// Stops initial animations until page loads.
	&.is-preload {
		*, *:before, *:after {
			animation: none !important;
			transition: none !important;
		}
	}

	&after {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: inherit;
		opacity: 0;
		z-index: 1;
	}
}