/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Type */

body {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em 0;;
}

h1 {
    font-size: 1.7em;
}

p {
    font-size: 1em;
}