/// 
/// sampsonjacob.com
/// Jacob Sampson
/// 

/* Pallete */

/* Page */

/// Moving Gradient
$bg-1: #2f83c7;
$bg-2: #3b6e9e;
$bg-3: #565676;
$fg-muted: #414770;
$fg-bright:   #414770;

// /// Cool
// $bg-1: #565676;
// $bg-2: #565676;
// $bg-3: #565676;
// $fg-muted: #414770;
// $fg-bright:   rgb(23, 167, 155);

// /// Flowery 
// $bg-1: rgb(204, 120, 120);
// $bg-2: rgb(204, 120, 120);
// $bg-3: rgb(204, 120, 120);
// $fg-muted: rgba(255, 165, 150, 0.5);
// $fg-bright:  rgba(0, 228, 255, 0.35);
// ///


/* Info Cards */

/// Languages
$language-web: #ff9c3e;
$language-python: #2f83c7;
$language-java: #9b6736;
$language-c-sharp: #8040c8;
$language-javascript: #00b7ff;
$language-typescript: #26538d;

/// Experiences
$experience-microsoft: #e45555;
$experience-medtronic: #134166;
$experience-extron: #2f83c7;
$experience-td-ameritrade: rgba(0, 128, 0, 0.521);
$experience-unl-physics: #2b858f;
$experience-lotus-technical: #ff9c3e;